/*Bar customize*/
.topBar {
    font-family: 'Syncopate', sans-serif;
    color: white;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
    height: 2.0vw;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8ba3ff;
}
    /*hyperlink customize*/
    .topBar a {
        text-shadow: 1px 2px 0px black;
        color: white;
        text-align: center;
        padding: 10px 40px;
        text-decoration: none;
    }
    /*hover customize*/
    .topBar a:hover {
        border: thin solid black;
        background-color: #728eee
    }
    /*active customize*/
    .topBar a.active {
        text-shadow: 1px 2px 0px white;
        background-color: white;
        color: black
    }


/*skills list customize*/
.skillsUL {
    font-family: 'Syncopate', sans-serif;
    list-style: circle;
    margin: 10px;
    color: white;
    text-align: left;
    line-height:2vw
}

/*middle large box customize*/
.midBox {
    width: 50%;
    height: 60%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.90); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid white;
    outline: double 4px #6a85eb;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 40%;
    text-align: center;
}
/*header customize*/
.sideheader {
    background-image: url("sideimage.jpg");
    padding: 100px;
    height: 10%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 50px 50px 50px 0 black inset, -50px -50px 50px 20px black inset;
    font-size: 60px;
    opacity: 0.50;
    border-bottom: 3px solid white;
}
/*left side box customize*/
.sideBox {
    margin: auto;
    width: 25%;
    height: 60%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    color: white;
    border: 3px solid white;
    outline: double 4px #6a85eb;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 12%;
    text-align: center;
}

.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*background video positioning*/
#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}