.BlurBack {
    background-image: url("polygon-26677-2560x1440.jpg");
    /*Blur*/
    -webkit-filter: blur(4.5px);
    /* Full height */
    height: 100%;
    /* Scale Image */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.midBox {
    width: 50%;
    height: 60%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.85); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid white;
    outline: double 4px #6a85eb;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 40%;
    text-align: center;
}

.sideheader {
    background-image: url("https://i.dlpng.com/static/png/6794747_preview.png");
    padding: 100px;
    height: 10%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 50px 50px 50px 0 black inset, -50px -50px 50px 20px black inset;
    font-size: 60px;
    opacity: 0.50;
    border-bottom: 3px solid white;
}

.sideBox {
    margin: auto;
    width: 25%;
    height: 60%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    color: white;
    border: 3px solid white;
    outline: double 4px #6a85eb;
    position: absolute;
    padding: 10px;
    top: 110%;
    left: 12%;
    text-align: center;
}

.viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}